@model EamProject3.Models.RequestSituationModel
@{
    ViewData["Title"] = "Manage Request";
}

<link rel="stylesheet" href="~/css/manage_request.css" />
<div class="container">
    <h2>Manage Request</h2>
    <h3>@Model.Request.Number</h3>

    <div class="requestinfo">
        <p><strong>Status:</strong> @Model.Request.Status.Description</p>
        <p><strong>Exam Date:</strong> @Model.Request.ExamDatetime</p>
        <p><strong>Duration:</strong> @Model.Request.DurationMin</p>
        <p><strong>Course:</strong> @Model.Request.Course.Name (@Model.Request.Course.Abbreviation)</p>
        <p><strong>Subject:</strong> @Model.Request.Module.Subject.Name</p>
        <p><strong>Module:</strong> @Model.Request.Module.Name</p>
    </div>

    <div class="panel">
        <h5>Student</h5>
        <p>@Model.Request.Student.FirstName @Model.Request.Student.LastName</p>
        <p><strong>Identification:</strong> @Model.Request.Student.Identification</p>
        <p><strong>Course:</strong> @(Model.Request.Student.Class != null ? Model.Request.Student.Class.Course.Name : "N/A")</p>
        <p><strong>Class:</strong> @(Model.Request.Student.Class != null ? Model.Request.Student.Class.Name : "N/A")</p>
    </div>
    <div class="panel teacher-manage-request">
        <h5>Teacher</h5>
        <input type="hidden" name="teacherId" value="@Model.Request.Id" />
        <p>@Model.Request.Teacher.FirstName @Model.Request.Teacher.LastName</p>
        <p><strong>Identification:</strong> @Model.Request.Teacher.Identification</p>
    </div>
    <br />

    <form asp-action="SaveRequest" method="post">
        <div class="panel">
            <h5>Method of Payment</h5>
            <br />
            <select name="paymentMethod" style="width: 100%;padding: 10px;border: 1px solid #ccc;border-radius: 5px;font-size: 14px;transition: border 0.3s;" required>
                <option selected disabled>Select the method of payment</option>
                <option value="Cash">Cash</option>
                <option value="Debit/Credit Card">Debit/Credit Card</option>
                <option value="MB Way">MB Way</option>
                <option value="PayPal">PayPal</option>
            </select>
        </div>
        <div class="panel">
            <h5>Situation (optional)</h5>
            <br />
            <select name="situationId" style="width: 100%;padding: 10px;border: 1px solid #ccc;border-radius: 5px;font-size: 14px;transition: border 0.3s;" required>
                <option value="-1" selected disabled>Select the Situation</option>
                @if (Model.Situations != null)
                {
                    @foreach (Situation situation in Model.Situations.Where(c => c.StartAt == null))
                    {
                        <option value="@situation.Id">@situation.Name</option>
                    }
                }
            </select>
        </div>
        <input type="hidden" name="id" value="@Model.Request.Id" />
        <br />
        <div class="button-group">
            <input type="submit" class="save" value="Save Payment" />
            <a class="cancel load-partial" asp-controller="Secretary" asp-action="Requests">Back</a> 
        </div>
    </form>
</div>